body {
  background-color: #f8f8f8;
}

.main-content {
  background: white;
}

footer {
  margin: 15px 0;
  text-align: center;
}

.navbar {
  margin-bottom: 0;
  border: none;
}

.jumbotron {
  margin-top: 20px;
}

#page-title {
  background-color: #f8f8f8;
  border-bottom: 1px solid #e7e7e7;
  
  padding: 10px 0;
  margin-bottom: 20px;
}  

#page-title h1 {
  font-size: 24px;
  margin: 0;
}

.todo-list-menu {
  border-right: 1px solid #eee
}
.todo-list-menu li a {
  color: #555;
}
.todo-list-menu li.active a {
  background: #fcf8e3;
  font-weight: bold;
  display: block;
  margin-right: 0px;
  position: relative;
}
.todo-list-menu li.active a:before {
  border-left: 20px solid #fcf8e3;
  border-bottom: 20px solid transparent;
  border-top: 20px solid transparent;
  content: "";
  height: 0;
  position: absolute;
  width: 0;
  top:0;
  right: -20px;
}

h2.todo-list-name {
  margin: 20px 0;
  float: left;
}

.title-button-container {
  margin: 16px 0;
  float: right;
}

.title-button-container button.btn {
  font-size: 18px;
}

form.inline {
  margin: 0;
  padding: 0;
}

.editable {
  padding-right: 28px;
}

.editable:hover {
  background-color: #fffff4;
  background-image: url('../images/pencil.png');
  background-repeat: no-repeat;
  background-position: right 4px bottom 4px;
  cursor: pointer;
}   

input::input-placeholder {
  font-style: italic;
  font-weight: 300;
  color: #e6e6e6;
}

input::-ms-input-placeholder {
  font-style: italic;
  font-weight: 300;
  color: #e6e6e6;
}

input::-moz-input-placeholder {
  font-style: italic;
  font-weight: 300;
  color: #e6e6e6;
}

input::-webkit-input-placeholder {
  font-style: italic;
  font-weight: 300;
  color: #e6e6e6;
}

.list-items {
  border: 1px solid #ededed;
  font-size: 20px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: table;
  table-layout: fixed;
  border-collapse: collapse;
  width: 100%;
}

.list-items form {
  border-bottom: 1px solid #ededed;
  position: relative;
  padding: 0;
  margin: 0;
  display: table-row;
}

.list-items form.editing,
.list-items form.editing:hover {
	background-color: #d9edf7;
}

.list-items form:hover {
  background-color: #fffff4;
}

.list-items form:last-child {
  border-bottom: none;
}

.list-items form .toggle {
  text-align: center;
  width: 40px;
  /* auto, since non-WebKit browsers doesn't support input styling */
  height: auto;
  margin: 5px 0 0 0;
  border: none; /* Mobile Safari */
  -webkit-appearance: none;
  appearance: none;
  outline: none;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  .list-items form .toggle {
    background: none;
  }

  .list-items form .toggle {
    height: 40px;
  }
}

.list-items form .toggle:after {
  content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="-10 -18 100 135"><circle cx="50" cy="50" r="50" fill="none" stroke="#ededed" stroke-width="3"/></svg>');
}

.list-items form .toggle:checked:after {
  content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="-10 -18 100 135"><circle cx="50" cy="50" r="50" fill="none" stroke="#bddad5" stroke-width="3"/><path fill="#5dc2af" d="M72 25L42 71 27 56l-4 4 20 20 34-52z"/></svg>');
}

.list-items form label {
  white-space: pre;
  word-break: break-word;
  font-weight: normal;
  display: block;
  vertical-align: middle;
  margin: 0;
  padding: 0;
}

.list-items form.completed label {
  color: #d9d9d9;
  text-decoration: line-through;
}

.list-items form .reminder {
  word-break: break-word;
  text-align: right;
  color: #999;
}

.list-items form.completed .reminder {
  color: #d9d9d9;
  text-decoration: line-through;
}

.list-items form .cell {
  display: table-cell;
  vertical-align: middle;
}

.list-items form .padded-cell {
  padding: 9px;
}

.list-items form .cell input[type="text"]:placeholder {
  font-style: italic;
}

.list-items form .action-cell,
.list-items form .toggle-cell {
  width: 40px;
  text-align: center;
}

.list-items form .action-cell button.action-icon {
  display: block;
  width: 40px;
  height: 40px;
  margin: auto 0;
  transition: color 0.2s ease-out;

  padding: 0;
  border: 0;
  background: none;
  vertical-align: middle;
  font-smoothing: antialiased;
  outline: none;
}

.list-items form .action-cell button.btn {
  padding: 6px 10px;
}

.list-items form .destroy {
  color: #e0e0e0;
}

.list-items form:hover .destroy {
  color: #a0a0a0;
}

.list-items form .edit-button {
  color: #e0e0e0;
}

.list-items form:hover .edit-button {
  color: #a0a0a0;
}

.list-items form span.cell .form-control {
  font-size: inherit;
}

.list-items form.new-item span.reminder ::input-placeholder {
  text-align: right;
}

.list-items form.new-item span.reminder ::-moz-input-placeholder {
  text-align: right;
}

.list-items form.new-item span.reminder ::-ms-input-placeholder {
  text-align: right;
}

.list-items form.new-item span.reminder ::-webkit-input-placeholder {
  text-align: right;
}

form.login {
  max-width: 300px;
  margin: 0 auto;
}

form.login button {
  display: block;
  width: 100%;
}
