<header class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      {{#link-to 'index' class="navbar-brand"}}Todo List Play{{/link-to}}
    </div>
    <nav class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        {{#active-link}}{{#link-to 'todoLists'}}My Lists{{/link-to}}{{/active-link}}
      </ul>
      {{#unless session.isAuthenticated}}
        <div class="navbar-form navbar-right">
          <a {{ action 'authenticateSession' }} class="btn btn-primary">Sign in</a>
        </div>
      {{/unless}}
      {{#if session.isAuthenticated}}
        <div class="navbar-form navbar-right">
          <a {{ action 'invalidateSession' }} class="btn btn-primary">Sign out</a>
        </div>
      {{/if}}
    </nav>
  </div>
</header>

{{outlet}}

<div class="container-fluid" id="footer-container">
  <footer>
    <p>&copy; Nathan 2015</p>
  </footer>
</div>
