
<div class="container-fluid main-content">
  <form class="login" {{action 'authenticate' on='submit'}}>
    <h2 class="todo-list-name">Login</h2>
    <div class="clearfix"></div>
    {{#if errorMessage}}
      <div class="alert alert-danger">
        <strong>Login failed:</strong> {{errorMessage}}
      </div>
    {{/if}}
    <div {{bind-attr class=":form-group model.errors.name:has-error"}}>
      {{focus-input type="text" value=identification placeholder="Email" class="form-control"}}
    </div>
    <div {{bind-attr class=":form-group model.errors.name:has-error"}}>
      {{input type="password" value=password placeholder="Password" class="form-control"}}
    </div>
    <div class="form-group">
      <button class="btn btn-primary" type="submit">Login</button>
    </div>
  </form>
</div>
