<h2 {{bind-attr class="isEditing:editing :todo-list-name"}}>
  {{#if isEditing}}
    {{focus-input type="text" value=content.name id="name" placeholder="Name"
       focus-out="acceptChanges" insert-newline="acceptChanges"}}
  {{else}}
    <span class="editable" title="Click to edit" {{action "editList"}}>{{content.name}}</span>
  {{/if}}
</h2>
{{#with content.items controller='todo-items' as |contentItems|}}
<div class="title-button-container">
  <button {{action "addItem" target=contentItems}} {{bind-attr disabled="contentItems.isAddingItem"}} class="btn btn-primary">
    <span class="glyphicon glyphicon-plus"></span> Add Item</button>
</div>
<div class="clearfix"></div>

<div class="list-items-container">
<div class="list-items">

  {{#if contentItems.isAddingItem}}
    <form {{action "saveNewItem" target=contentItems on="submit"}} class="inline editing">
      <span class="cell toggle-cell"></span>
      <span class="cell padded-cell">
        {{focus-input type="text" 
            class="form-control" 
            placeholder="What needs to be done?" 
            value=contentItems.newText 
            escape-press='cancelAddItem'
            targetObject=contentItems}}
      </span>
      <span class="cell padded-cell reminder">
        <div class="input-group">
          {{bootstrap-datepicker 
            autoclose=true 
            format="D, M d yyyy" 
            class="form-control" 
            placeholder="Due by?" 
            value=contentItems.newReminder 
            escape-press='cancelAddItem'
            targetObject=contentItems}}
          <div class="input-group-addon">
            <span class="glyphicon glyphicon-calendar" style="font-size: 18px"></span>
          </div>
        </div>
      </span>
      <span class="cell action-cell">
        <button type="submit" class="btn btn-primary" title="save">
          <span class="glyphicon glyphicon-ok"></span>
        </button>
      </span>
      <span class="cell action-cell">
        <button {{action "cancelAddItem" target=contentItems}} class="btn btn-default" title="cancel">
          <span class="glyphicon glyphicon-remove"></span>
        </button>
      </span>
    </form>
  {{/if}}

  {{#each todoItem in contentItems itemController="todo-item" }}
    <form {{action "saveItem" on="submit"}} {{bind-attr class="todoItem.isDone:completed isEditing:editing"}}>
      <span class="cell toggle-cell">
        {{#unless todoItem.isEditingItem}}
          {{input type="checkbox" class="toggle" checked=todoItem.isDone}}
        {{/unless}}
      </span>
      <span class="cell padded-cell">
        {{#if todoItem.isEditingItem}}
          {{focus-input type="text" 
            class="form-control" 
            placeholder="What needs to be done?" 
            value=todoItem.model.text 
            escape-press='cancelEditItem'}}
        {{else}}
          <label {{action "editItem"}}>{{todoItem.model.text}}</label>
        {{/if}}
      </span>
      <span class="cell padded-cell reminder" title="Reminder" {{action "editItem"}}>
        {{#if todoItem.isEditingItem}}
          <div class="input-group">
            {{bootstrap-datepicker 
              autoclose=true 
              format="D, M d yyyy" 
              class="form-control" 
              placeholder="Due by?" 
              value=todoItem.model.reminder
              escape-press='cancelEditItem'}}
            <div class="input-group-addon">
              <span class="glyphicon glyphicon-calendar" style="font-size: 18px"></span>
            </div>
          </div>
        {{else}}
          {{#if todoItem.model.reminder}}
            <label><span class="glyphicon glyphicon-time"></span> {{format-date todoItem.model.reminder}}</label>
          {{/if}}
        {{/if}}
      </span>
      <span class="cell action-cell">
        {{#if todoItem.isEditingItem}}
          <button type="submit" class="btn btn-primary" title="save">
            <span class="glyphicon glyphicon-ok"></span>
          </button>
        {{else}}
          <button {{action "editItem"}} title="edit" class="action-icon edit-button">
            <span class="glyphicon glyphicon-pencil"></span>
          </button>
        {{/if}}
      </span>
      <span class="cell action-cell">
        {{#if todoItem.isEditingItem}}
          <button {{action "cancelEditItem"}} class="btn btn-default" title="cancel">
            <span class="glyphicon glyphicon-remove"></span>
          </button>
        {{else}}
          <button {{action "removeItem"}} title="delete" class="action-icon destroy">
            <span class="glyphicon glyphicon-trash"></span>
          </button>
        {{/if}}
      </span>
    </form>
  {{/each}}
</div>
</div>
{{/with}}
