<div class="container-fluid main-content" style="padding-left:0">
  <div class="row">
    <div class="col-sm-2">
      <div class="todo-list-menu">
      <ul class="nav nav-stacked affix-top">
        {{#each todoList in arrangedContent }}
          {{#active-link}}{{#link-to 'todoList' todoList.id}} {{todoList.name}} {{/link-to}}{{/active-link}}
        {{/each}}
      </ul>
      <hr>
      <ul class="nav nav-stacked affix-top">
        {{#active-link}}{{#link-to 'todoLists.create'}} <span class="glyphicon glyphicon-plus"></span> Add New List {{/link-to}}{{/active-link}}
      </ul>
      </div>
    </div>
    <div class="col-sm-10">
      {{outlet}}
    </div>
  </div>
</div>
 