<h2 class="todo-list-name">New List</h2>
<div class="clearfix"></div>

<div class="container-fluid">
  <form>
    {{#unless model.errors.isEmpty}}
      <div class="alert alert-danger" role="alert">
        <strong>Oh snap!</strong>  Could not save due to errors.
      </div>
    {{/unless}}
    <div {{bind-attr class=":form-group model.errors.name:has-error"}}>
      {{focus-input type="text" value=content.name id="name" placeholder="Name" class="form-control"}}
      {{#each error in model.errors.name}}
        <span class="help-block">{{error.message}}</span>
      {{/each}}
    </div>
    <div class="form-group">
      <button class="btn btn-primary" {{action 'save'}}>Save</button>
      {{#link-to 'todoLists' class="btn btn-default" activeClass=""}}Cancel{{/link-to}}
    </div>
  </form>
</div>
